# QtConsole
#   https://github.com/jupyter/qtconsole/blob/master/docs/source/changelog.rst
qtconsole==4.2.1 # rq.filter: >=4.2, <4.3

# IPython kernel
#   https://ipython.readthedocs.io/en/stable/whatsnew/index.html
ipykernel==4.3.1 # rq.filter: >= 4.3, <4.4

# PyQt4
PyQt4==4.11.4  # rq.filter: >= 4.11, <5.0

# PyQt5
PyQt5