<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>Psyplot</string>
	<key>CFBundleExecutable</key>
	<string>run.sh</string>
	<key>CFBundleIdentifier</key>
	<string>com.psyplot.io</string>
	<key>CFBundleName</key>
	<string>Psyplot</string>
	<key>CFBundleIconFile</key>
	<string>main.icns</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>IFMajorVersion</key>
	<integer>0</integer>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Philipp Sommer. All rights reserved.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>netCDF Dataset</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nc</string>
				<string>nc3</string>
				<string>nc4</string>
				<string>ncml</string>
				<string>netcdf</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
            <key>CFBundleTypeName</key>
			<string>pickle File</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pkl</string>
				<string>pickle</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>IFMinorVersion</key>
	<integer>1</integer>
</dict>
</plist>
